/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

%include ../../shared/statusbar/australis.css

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#status4evar-status-bar
{
	box-shadow: 0 1px 0 rgba(0,0,0,.15) inset;
	padding: 0;
	min-height: 20px;
}

#status4evar-status-bar .toolbarbutton-1,
#status4evar-status-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button
{
	-moz-appearance: none;
	border-style: none;
	padding: 0 3px;
}

#status4evar-status-bar .toolbarbutton-1:not([disabled]):hover,
#status4evar-status-bar .toolbarbutton-1[open],
#status4evar-status-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]):hover
{
	background-image: linear-gradient(to top, transparent, rgba(0,0,0,.15)),
	                  linear-gradient(to top, transparent, rgba(0,0,0,.15) 30%),
	                  linear-gradient(to top, transparent, rgba(0,0,0,.15) 30%);
	background-position: left, left, right;
	background-size: auto, 1px 100%, 1px 100%;
	background-repeat: no-repeat;
}

#status4evar-download-button #status4evar-download-icon
{
	background: -moz-image-rect(url("chrome://browser/skin/Toolbar.png"), 0, 198, 18, 180) center no-repeat;
	min-width: 18px;
	min-height: 18px;
}

