/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

%include ../../shared/statusbar/legacy.css

#status4evar-download-button #status4evar-download-icon
{
	background: -moz-image-rect(url("chrome://browser/skin/Toolbar.png"), 0, 24, 24, 0) center no-repeat;
	min-width: 24px;
	min-height: 24px;
}

toolbar[iconsize="small"] #status4evar-download-button #status4evar-download-icon
{
	background: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 16, 16, 0) center no-repeat;
	min-width: 16px;
	min-height: 16px;
}

toolbar[iconsize="small"] > #status4evar-download-button[attention] #status4evar-download-icon {
	background-image: url("chrome://browser/skin/downloads/download-glow-small.png");
}

