/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#status-bar
{
	display: -moz-box;
	min-width: 0;
	min-height: 0;
	-moz-appearance: none;
	background-color: transparent;
	border: none;
}

#status-bar > statusbarpanel
{
	border-width: 0;
	-moz-appearance: none;
}

#status4evar-legacy-widget[cui-areatype="menu-panel"] #status-bar,
toolbarpaletteitem[place="palette"] > #status4evar-legacy-widget #status-bar
{
	min-height: 32px;
}

toolbarpaletteitem #status-bar
{
	min-width: 32px;
	background-image: repeating-linear-gradient(135deg,
	                  rgba(255,255,255,0.1),
	                  rgba(255,255,255,0.1) 5px,
	                  rgba(0,0,0,0.1) 5px,
	                  rgba(0,0,0,0.1) 10px);
}

@keyframes status4evar-throbber-widget-loading
{
	to
	{
		transform: rotate(360deg);
	}
}

@keyframes status4evar-throbber-widget-connecting
{
	from
	{
		transform: rotate(360deg);
	}
}

#status4evar-throbber-widget
{
	padding: 0 12px;
}

#status4evar-throbber-widget image
{
	list-style-image: url("chrome://browser/skin/statusbar/throbber-idle.png");
	width: 16px;
	height: 16px;
}

#status4evar-throbber-widget[busy] image
{
	list-style-image: url("chrome://browser/skin/tabbrowser/connecting.png");
	animation-duration: 960ms;
	animation-iteration-count: infinite;
	animation-name: status4evar-throbber-widget-connecting;
	animation-timing-function: linear;
}

#status4evar-throbber-widget[progress] image
{
	list-style-image: url("chrome://browser/skin/tabbrowser/loading.png");
	animation-duration: 800ms;
	animation-name: status4evar-throbber-widget-loading;
}

