/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*
 * Location bar progress
 */

#urlbar
{
	-moz-binding: url("chrome://browser/content/statusbar/urlbarBindings.xml#urlbar");
}

#urlbar[s4eforce="true"]
{
	-moz-binding: url("chrome://browser/content/statusbar/urlbarBindings.xml#urlbar") !important;
}

/*
 * Status Popup
 */

statuspanel
{
	-moz-binding: url("chrome://browser/content/statusbar/tabbrowser.xml#statuspanel");
}

