/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

%include ../../shared/statusbar/australis.css

#status4evar-status-bar
{
	-moz-appearance: none;
	min-height: 20px;
	border-top-style: none;
	border-bottom-style: none;
	padding-top: 1px;
	background-image: linear-gradient(rgba(0,0,0,.15) 1px, rgba(255,255,255,.15) 1px);
	background-size: 100% 2px;
	background-repeat: no-repeat;
}

#status4evar-status-bar .toolbarbutton-1,
#status4evar-status-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button
{
	-moz-appearance: none;
	border-style: none;
	padding: 0 3px;
}

#status4evar-status-bar .toolbarbutton-1:not([disabled]):hover,
#status4evar-status-bar .toolbarbutton-1[open],
#status4evar-status-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]):hover
{
	background-image: linear-gradient(to top, transparent, rgba(0,0,0,.15)),
	                  linear-gradient(to top, transparent, rgba(0,0,0,.15) 30%),
	                  linear-gradient(to top, transparent, rgba(0,0,0,.15) 30%);
	background-position: left, left, right;
	background-size: auto, 1px 100%, 1px 100%;
	background-repeat: no-repeat;
}

#status4evar-download-button #status4evar-download-icon
{
	background: -moz-image-rect(url("chrome://browser/skin/Toolbar.png"), 0, 198, 18, 180) center no-repeat;
}

#status4evar-download-button:-moz-lwtheme-brighttext #status4evar-download-icon
{
	background: -moz-image-rect(url("chrome://browser/skin/Toolbar-inverted.png"), 0, 198, 18, 180) center no-repeat;
}

#status4evar-download-button[attention] #status4evar-download-icon
{
	background-image: url("chrome://browser/skin/downloads/download-glow.png");
}

@media (-moz-windows-theme: aero)
{
	@media (-moz-os-version: windows-vista), (-moz-os-version: windows-win7)
	{
		#status4evar-download-button[attention] #status4evar-download-icon
		{
			background-image: url("chrome://browser/skin/downloads/download-glow-XPVista7.png");
		}
	}
}

@media (not (-moz-windows-theme: aero)), (-moz-os-version: windows-xp)
{
	#status4evar-download-button[attention] #status4evar-download-icon
	{
		background-image: url("chrome://browser/skin/downloads/download-glow-XPVista7.png");
	}
}

